.calendar_card {
  box-shadow: none;
}

.cdk-visually-hidden > span {
  color: gray;
}

.calendar_card {
  padding-top: 0;
}

::ng-deep .available .mat-calendar-body-cell-content {
  background-color: rgba(14, 152, 5, 0.25);
}
