<div class="header">
    <div class="header_icon" (click)="themeSwitch()">
        <mat-icon class="theme_icon">{{isDark? 'wb_sunny': 'star'}}</mat-icon>
    </div>

    <div class="header_title">
        <button>Overview</button>
        <button>Reports</button>
    </div>
    <div class="input_section">
        <div class="header_input">
            <input type="text" placeholder="Search" id="search">
            <label for="search" class="label">
                <mat-icon class="search_icon">search</mat-icon>
            </label>
        </div>
        <button class="burger" (click)="toggleSidebar()">
            <span class="block"></span>
            <span class="block"></span>
            <span class="block"></span>
        </button>
    </div>
</div>