.header {
  display: flex;
  gap: 3rem;
  padding: 1rem 0;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0;
}

.theme_icon {
  font-size: 2rem;
  cursor: pointer;
}

.header_title {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 10rem;
}

.header_title > button {
  margin: 0;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header_title > button:hover {
  color: #006566;
  text-decoration: underline;
}

.header_input {
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 3rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.search_input {
  flex: 1;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_icon {
  color: gray;
}

.header_input > input {
  border: none;
}

.header_input > input:focus {
  outline: none;
}

.input_section {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.burger {
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  width: 2rem;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

.block {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 1rem;
}
