<mat-card class="card_bg">
    <div class="card_head">
        <mat-card-title class="card_head_title">
            Award Ceremony
        </mat-card-title>
        <mat-slide-toggle class="card_toggle"></mat-slide-toggle>
    </div>
    <p class="card_head_time">12:30 - 15:45</p>
    <mat-chip-list class="chip-div">
        <mat-chip>Team</mat-chip>
        <mat-chip>Meeting</mat-chip>
    </mat-chip-list>
    <div class="card_bottom">
        <div class="avatar-div">
            <div mat-card-avatar class="card_avatar"></div>
            <div mat-card-avatar class="card_avatar"></div>
            <div mat-card-avatar class="card_avatar">
                <p class="avatar_text">9+</p>
            </div>
        </div>
        <div class="card_bottom_icons">
            <mat-icon class="edit_icon">edit</mat-icon>
            <mat-icon class="arrow_icon">transit_enterexit</mat-icon>
        </div>
    </div>
</mat-card>