.card_bg {
  background: #fff;
  border-radius: 2rem;
  padding: 1.5rem 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.card_head_title {
  font-size: 1.3rem;
  font-weight: 500;
}

.card_head_time {
  color: gray;
}

::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #acdbda;
}

::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #e8faf0;
}

.chip-div {
  display: flex;
  margin-bottom: 1rem;
}

.avatar-div {
  display: flex;
  position: relative;
}

.card_avatar {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.card_avatar:not(:first-child) {
  border: 1px solid #fff;
  margin-left: -0.8rem;
}

.card_avatar:nth-child(3) {
  background: #ff8366;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar_text {
  position: absolute;
  margin: 0;
  color: #fff;
}

.card_bottom {
  display: flex;
  justify-content: space-between;
}

.card_bottom_icons {
  display: flex;
  gap: 1rem;
}

.edit_icon,
.arrow_icon {
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid #016466;
  color: #016466;
  font-size: 1.3rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_icon {
  background-color: #016466;
  color: #fff;
  transform: rotate(180deg);
}
