.timeline_bg {
  /* z-index: 10; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #006566;
  background-color: #f0f8f8;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #006566;
  cursor: pointer;
}

.timeline_icon {
  background-color: #006566;
  color: #fff;
  border-radius: 100%;
  font-size: 1.2rem;
  width: 1.8rem;
  padding-left: 0.05rem;
  padding-top: 0.25rem;
  height: 1.8rem;
}

.timeline_text_head {
  font-size: 1.1rem;
  font-weight: 500;
}

.timeline_text_time {
  margin: 0;
}

.active_line {
  width: 130%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: -20px;
  z-index: -1;
  transform: translateY(-50%);
}
.active_line_head {
  width: 10px;
  height: 10px;
  background-color: #006566;
  border-radius: 100%;
}

.active_line_tail {
  width: 100%;
  height: 3px;
  background-color: #006566;
}
