<button class="timeline_bg" (click)="toggle_line()">
    <mat-icon class="timeline_icon">work</mat-icon>
    <div class="timeline_text">
        <div class="timeline_text_head">Work</div>
        <p class="timeline_text_time">9:00 AM - 10:00 AM</p>
    </div>
</button>
<div class="active_line" *ngIf="line">
    <div class="active_line_head"></div>
    <div class="active_line_tail"></div>
</div>