.timeline {
  height: 100%;
  padding-left: 2rem;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}

.timeline_row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.timeline_time {
  margin: 0;
  color: gray;
  font-size: 1rem;
}

.timeline_line {
  height: 1px;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
}

.timeline_card {
  position: absolute;
  z-index: 20;
  left: 35%;
}
