<div class="timeline">
    <div class="timeline_row">
        <p class="timeline_time">08:00</p>
        <div class="timeline_line"></div>
    </div>
    <div class="timeline_row">
        <p class="timeline_time">09:00</p>
        <div class="timeline_line"></div>
        <app-timeline-card class="timeline_card"></app-timeline-card>
    </div>
    <div class="timeline_row">
        <p class="timeline_time">10:00</p>
        <div class="timeline_line"></div>
    </div>
    <div class="timeline_row">
        <p class="timeline_time">11:00</p>
        <div class="timeline_line"></div>
        <app-timeline-card class="timeline_card"></app-timeline-card>
    </div>
    <div class="timeline_row">
        <p class="timeline_time">12:00</p>
        <div class="timeline_line"></div>
    </div>
    <div class="timeline_row">
        <p class="timeline_time">13:00</p>
        <div class="timeline_line"></div>
        <app-timeline-card class="timeline_card"></app-timeline-card>
    </div>

</div>