.user_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.icon_section {
  display: flex;
  gap: 1rem;
}

.profile_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.profile_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile_name {
  font-weight: 600;
}

.profile_text > p {
  margin: 0;
}

.profile_pos {
  font-size: 0.7rem;
  color: gray;
  font-weight: 600;
}

.profile_avatar {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.head_line {
  height: 1px;
  background-color: rgba(128, 128, 128, 0.2);
  margin: 0 auto;
  width: 90%;
}
