<div class="user_head">
    <div class="icon_section">
        <mat-icon matBadge="2" matBadgeColor="primary" matBadgeSize="small"> mail_outline</mat-icon>
        <mat-icon matBadge="2" matBadgeColor="primary" matBadgeSize="small">
            notifications_none</mat-icon>
    </div>
    <div class="profile_section">
        <div class="profile_text">
            <p class="profile_name">Doge</p>
            <p class="profile_pos">CEO</p>
        </div>
        <div mat-card-avatar class="profile_avatar"></div>
    </div>
</div>
<div class="head_line"></div>