.main_bg {
  background-color: #eff7f7;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.dashboard_section {
  width: 100%;
  padding: 0 3rem;
}

.calendar_main {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 1rem;
  background-color: #fff;
  position: fixed;
  right: -30rem;
  z-index: 100;
  transition: all 300ms ease;
}

.visible {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 1rem;
  background-color: #fff;
  position: fixed;
  right: 0;
  transition: right 300ms ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 100;
}
