<div class="main_bg">
  <div class="dashboard_section">
    <app-header (sidebar)="toggle()"></app-header>
    <app-dashboard></app-dashboard>
    <app-booking></app-booking>
  </div>
  <app-calender-main class="calendar_main" [ngClass]="{'visible': isVisible, 'calendar_main': !isVisible}"
    [collapseSidebar]="isVisible" (iscollapsed)="toggle()">
  </app-calender-main>
</div>