<app-userhead></app-userhead>
<app-calender></app-calender>
<app-timeline></app-timeline>
<div class="sidebar_icon">
    <button class="collapse_btn" (click)="collapse()">
        <mat-icon class="collapse">keyboard_arrow_right</mat-icon>
    </button>
</div>