.sidebar_icon {
  position: absolute;
  left: -30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.collapse_btn {
  background-color: transparent;
  border: none;
  padding: 0 0.8rem 0 0;
  cursor: pointer;
  box-shadow: -8px -8px 12px rgba(0, 0, 0, 0.1);
}

.collapse {
  font-size: 2.5rem;
}
