<div class="main_dashboard">
    <div class="dashboard_head">
        <h2>
            Main Dashboard
        </h2>
        <button class="manage_btn">
            <div>Manage</div>
            <div>▾</div>
        </button>
    </div>
    <div class="dashboard_selectors">
        <button>Booking</button>
        <button>Amenities</button>
        <button>Customization</button>
        <button>Locality</button>
    </div>
    <div class="dashboard_grid">
        <div class="grid_small_one">
            <small class="grid_small_one_text_head">Today's Earning</small>
            <p class="grid_small_one_text">$2890</p>
        </div>
        <div class="grid_small_two">
            <p class="grid_small_two_text">Demographics</p>
            <p class="grid_small_two_no">20</p>
        </div>
        <div class="grid_lg">
            <div></div>
        </div>
        <div class="grid_small_three">
            <div class="grid_small_three_row">
                <div class="grid_small_three_row_text">
                    <small>Today's Earning</small>
                    <p>$2890</p>
                </div>
                <div class="grid_small_three_row_icon">0</div>
            </div>
            <div class="grid_small_three_row">
                <div class="grid_small_three_row_text">
                    <small>Today's Earning</small>
                    <p>$2890</p>
                </div>
                <div class="grid_small_three_row_icon">0</div>
            </div>
            <div class="grid_small_three_row">
                <div class="grid_small_three_row_text">
                    <small>Today's Earning</small>
                    <p>$2890</p>
                </div>
                <div class="grid_small_three_row_icon">0</div>
            </div>
        </div>
        <div class="grid_md">
            <div class="grid_md_text">
                <p class="discount">20% OFF</p>
                <small>On your first booking</small>
                <p>NEWBIE20</p>
                <small>Copy Code</small>
            </div>
            <img src="https://images.unsplash.com/photo-1573497491208-6b1acb260507?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                alt="" class="grid_img">
        </div>
        <div class="grid_small_four">
            <p class="grid_small_four_head">Design Meetings</p>
            <small class="grid_small_four_time">11 mins left</small>
        </div>
    </div>
</div>