.main_dashboard {
  width: 100%;
}

.dashboard_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
}

.dashboard_head > h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.manage_btn {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-color: transparent;
  color: #006566;
  font-size: 1rem;
  cursor: pointer;
}

.dashboard_selectors {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.dashboard_selectors > button {
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  color: gray;
  cursor: pointer;
}

.dashboard_selectors > button:hover {
  color: #006566;
  text-decoration: underline;
}

.dashboard_grid {
  display: grid;
  grid-template-areas:
    "a b c c d"
    "e e c c f";
  gap: 1.5rem;
}

.grid_small_one,
.grid_small_two,
.grid_small_three,
.grid_small_four,
.grid_md,
.grid_lg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: aqua;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grid_small_one {
  grid-area: a;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  /* height: 8rem; */
  background-color: #fff;
}

.grid_small_two {
  grid-area: b;
  background-color: #ffbc00;
  flex-direction: column;
  gap: 0.5rem;
}

.grid_small_three {
  grid-area: d;
  background-color: #fff;
  flex-direction: column;
  padding: 0.5rem 0;
}

.grid_small_four {
  grid-area: f;
  background-color: #006566;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}

.grid_lg {
  grid-area: c;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1651842838966-cc3f3a9cf65c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
  background-size: cover;
  color: #fff;
}

.grid_md {
  grid-area: e;
  height: 10rem;
  background-color: #006566;
  color: #fff;
}

.grid_small_one_text_head {
  color: gray;
}

.grid_small_one_text {
  font-weight: bold;
  font-size: 1.1rem;
}

.grid_small_two_text {
  font-weight: bold;
}

.grid_small_two_no {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 600;
}

.grid_small_three_row {
  display: flex;
  cursor: pointer;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.grid_small_three_row:hover {
  color: #006566;
}

.grid_small_three_row_text {
  display: flex;
  flex-direction: column;
}

.grid_small_three_row_text > small {
  font-size: 0.6rem;
  color: gray;
}

.grid_small_three_row_text > p {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.grid_small_four_head {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.grid_small_four_time {
}

.grid_md_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid_md_text > p {
  margin: 0;
}

.grid_md_text > p:nth-child(1) {
  font-size: 1.1rem;
  font-weight: 600;
}

.grid_md_text > small:nth-child(2) {
  margin-bottom: 0.2rem;
  font-size: 0.6rem;
}

.grid_md_text > p:nth-child(3) {
  border: 1px dotted #fff;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 0.6rem;
}

.grid_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
