<div class="card_component">
    <div class="card_head">
        <h2>Active Bookings</h2>
        <button>
            <p>Check All</p>
            <p>▸</p>
        </button>
    </div>
    <div class="card_row">
        <app-card class="card"></app-card>
        <app-card class="card"></app-card>
    </div>
</div>