.card_component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  gap: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card_head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.card_head > h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.card_head > button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 0.3rem;
  color: #006566;
  cursor: pointer;
}

.card_head > button > p {
  margin: 0;
}

.card_row {
  display: flex;
  gap: 2rem;
}

.card {
  flex: 1;
}
